{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon and Roboto Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{% static 'todolist/style.css' %}" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper indigo darken-3">
        <a href="#" class="brand-logo center">My To-Do List</a>
      </div>
    </nav>
  </header>

  <main>
    <div class="container white z-depth-2">
      <h2>What to do today</h2>

      <form action="{% url 'add' %}" method="POST" role="form">
        {% csrf_token %}
        <div class="row">
          <div class="input-field col s10">
            {{ form.text }}
            <label for="todo_text">Enter todo</label>
          </div>

          <div class="col s2">
            <button id="add-btn" class="waves-effect waves-light btn btn-large green darken-1">
              ADD
            </button>
          </div>
        </div>
      </form>

      <div class="row">
        <a href="{% url 'deletecompleted' %}" class="waves-effect waves-light btn orange darken-3">
          <i class="material-icons left">delete</i>DELETE COMPLETED
        </a>
        <a href="{% url 'deleteall' %}" class="waves-effect waves-light btn red darken-3">
          <i class="material-icons left">delete_forever</i>DELETE ALL
        </a>
      </div>

      <!-- Task lists -->
      <ul class="collection">
        {% for todolist in todo_items %}
          {% if todolist.completed %}
            <a class="collection-item task-complete">{{ todolist.text }}</a>
          {% else %}
            <a href="{% url 'completed' todolist.id %}" class="collection-item">{{ todolist.text }}</a>
          {% endif %} 
        {% endfor %}
      </ul>
    </div>
  </main>

  <footer class="indigo darken-3">
    <p class="center-align white-text">
      Copyright &copy; dotslash21 2019
    </p>
  </footer>

  <!--JavaScript at end of body for optimized loading-->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>