body {
  font-family: "Roboto", sans-serif;
  background-image: url("./images/background.jpg");
}

.container {
  padding: 1rem;
}

.task-complete {
  text-decoration: line-through;
  background-color: #e0e0e0 !important;
}
